{
    margin: 0;
    padding: 0;
}

.cabeçalho{
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(206, 68, 199);
}

.cartão {
    width: 260px;
    height: 200px;
}

.cartão-imagem{
    width: 100%;
}

body{
display: flex;
flex-direction: column;
min-height: 1000vh;

}

main{
    flex: 1;
}

.cabeçalho-link{
color: rgb(156, 86, 150);
}

h1{color: rgb(255, 142, 157);}

footer{
    background-color: rgb(255, 183, 243);
}